
/* This Css is for small mobile */

@media (max-width: 767px) {
    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .video {
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .about_phone img {
        width: 100%;
    }
}
/* This Css is for tablet */

@media (min-width: 760px) {
    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .video {
        padding-top: 50px;
    }
}
/* This Css is for Medium Deviced */

@media (min-width: 992px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .single_fun_facts {
        padding-bottom: 0px;
    }
    .video {
        padding-top: 00px;
    }
}
/* This Css is for large Deviced */

@media (min-width: 1200px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .video {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) { /*  css rules */ }
.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
.pp_content { width: 100%!important; height: auto!important; }
.pp_fade { width: 100%!important; height: 100%!important; }
a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
#pp_full_res img { width: 100%!important; height: auto!important; }
.pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
a.pp_close { right: 7%!important; top: 10px!important; }